*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    height: 61.8%;
}

.content{
    margin: auto;
}

.content p{
    margin-top: 1.5em;
    font-size: 18px;
    color: #6F7277;
}