body {
    font-family: "Helvetica", "Arial", serif;
    color: #333;
    border-color: #ccc;
    margin: 1em 10%;
}

h1 {
    color: #333;
    border-color: transparent;
}

a {
    color: #c60;
    border-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    padding: 1em;
    list-style: none;
}

img#placeholder {
    display: block;
    clear: both;
    height: 520px;
    width: 520px;
    -o-object-fit: contain;
       object-fit: contain;
}

#imagegaller {
    display: flex;
}

#imagegaller img{
    height: 80px;
    object-fit: contain;
}
